        <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">
                            <a href="/competition" class="tm-bg-black text-center tm-logo-container" style="text-decoration: none">
                                <i class="fas fa-calendar tm-site-logo mb-3"></i>
                                <h1 class="tm-site-name" >Create Competition</h1>
                            </a>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span>
                                            <i class="fas fa-bars tm-menu-closed-icon"></i>
                                            <i class="fas fa-times tm-menu-opened-icon"></i>
                                        </span>
                                    </button>
                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase tm-bg-black">
                                            <li class="nav-item ">
                                                <a class="nav-link tm-nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link " href="{{ url_for('user_comp', page=page_num) }}">My competitions</a>
                                            </li>
                                         {% if g.user %}
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link " href="/logout/{{ "login" }}">Log out</a>
                                            </li>
                                             {% else %}
                                             <li class="nav-item">
                                                <a class="nav-link tm-nav-link " href="{{url_for('home')}}">login</a>
                                            </li>
                                        {% endif %}
                                            {% if g.user %}
                                               <li class="nav-item">
                                                <img width="60" height="60" src="https://api2.rntt.tn/routeicon?ligne={{ g.user.first_name[0].upper() }}{{ g.user.last_name[0].upper()}}&color=FF0000">
                                            </li>
                                            {% endif %}


                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>