
{% extends 'layouts/admin.html' %}
{% block body %}


<div class="content">
          <div class="container-fluid">
           {% with messages = get_flashed_messages() %}
                                  {% if messages %}

                                    {% for message in messages %}

                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                      <strong>Success!</strong> {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>

                                    {% endfor %}

                                  {% endif %}
                                {% endwith %}

            <div class="section">
              <div class="row">
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-6">
                  <br /><br />
                  <h1
                    style="
                      text-align: center;
                      font-weight: 400;
                      color: rgb(2, 23, 5);
                    "
                  >
                        List of users:
                  </h1>
                  <br /><br />

                </div>
                <div class="col-6 col-md-3"></div>
              </div>
              <br />
            </div>


            <div class="section">
              <div class="row">
                <div class="col-6 col-md-2"></div>
                <div class="col-6 col-md-8">


                    {% for user in users %}                      <!-- boucli for hne-->
                <div class="card"style="background-color: #326f59">
                  <div class="card-header card-header-success" style="background-color: #B7E4C7">
                      <div class="row">
                          <div class="col-md-10">

                              <h4 class="card-title "><img width="40" height="40" src="https://api2.rntt.tn/routeicon?ligne={{ user.first_name[0].upper() }}{{ user.last_name[0].upper()}}&color=black"> <b>{{ user.first_name}} {{ user.last_name}}</b> </h4>
                             <div class="container">
                                 <div class="row">
                                     <div class="col-md-3"><br><i>Coordonnées:</i>
                                     </div>
                                     <div class="col-md-9">
                                      <p class="card-category" style="color: rgb(0, 0, 0);"> <br>
                                       Name: {{ user.first_name }} <br>
                                       Email: {{ user.email}}<br>
                                       Phone: {{ user.phone }}<br>
                                      </p><br>
                                     </div>
                                 </div>
                             </div>
                          </div>
                          <div class="col-md-2"><br><br><br>
                              <a class="btn btn-danger" href="/delete_user/{{ user.id }}">Delete</a>

                          </div>
                      </div>
                  </div>

                       <div class="card-body">  </div>

              </div>
                    {% endfor %}


                </h2>
                </div>
                <div class="col-6 col-md-2"></div>
              </div>
              <br />
            </div>


          </div>

          <!-- what you looking to do-->
          <br /><br />
                    <br />



          <!-- li ta7ti tsakkar el content sakarha ekhir el page-->
        </div>
    {% endblock %}